#hamburgerBtn { display: none; }




nav {
    background-color: $primaryColor;
}

#primaryNav {
        margin: 0 0 0 2vw; 
        padding: 0;
}

ul>li {
        float: left; 
        list-style: none; 
        border-left: 1px solid rgba(0,0,0,0.2); 
}
    
#primaryNav li:last-child{
      border-right: 1px solid rgba(0,0,0,0.2);
}

#primaryNav li a { 
		display: block;
		background: none;
		font-size: .9em;
		padding: .9em .9em;
		color: white;
		text-decoration: none;
		-webkit-transition: background 0.3s linear; 
		transition: background 0.3s linear;
}

#primaryNav li a.active { 
		background-color: $subColor;
}
    
#primaryNav li a:hover {
     background: $minorColor;
     color: black;
}
    
#primaryNav li.parent > a::before {
        font-size: .75rem;
		content: "\25BC";
		color: rgba(255,255,255,.5);
}
    

#primaryNav li ul {
		z-index:998;
		position: absolute;
		background-color: darken($primaryColor, 3%);
		left: -999em; 
		width: 12em; 
}
    
#primaryNav li ul li { 
        float: none;
        border: none;
		border-top: solid 1px rgba(0,0,0,0.2); 
}
    

#primaryNav li:hover ul { 
		left: auto;
		margin-left: 0;
}
    


main h1 {
    margin: 0px;
    padding: $gutter;
  }