* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

html { -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%;}

/* body */

body {
    font-family: $fontFamily;
    font-weight: $regularWeight;
    font-size: 16px;
}


/* header */

header {
    background: linear-gradient(to top, rgb(221, 220, 221) 25%, rgb(110, 110, 110) 100%);
    padding: .5rem $gutter;
    margin: 0px;
    color: white;
}

header figure.logo {
    float: left;
    margin: 0;
    padding: 0 15px 0 0;
}

header figure.logo img {
    margin: 20px 0 0 0;
  
}



header h1 {
    color: $primaryColor;
    font-weight: $heavyWeight;
    font-size: 2.8rem;
    margin: 20px 0px 0px 0px;
}



header h2 {
    font-weight: $regularWeight;
    font-size: 1.4rem;
    margin: 0;
    padding: 0;
    display: none;
    color: lighten($primaryColor, 10%);
    display: block;
      
}




/* navigation */


#hamburgerBtn { display: none; } 



@media only screen and (max-width: 35rem) {


    nav {
        position: absolute;
        left: 0;
        width: 100%;
        height: 2.75rem;
        background-color: $primaryColor;
    }
    

	#hamburgerBtn {
		display: block;
		width: 7rem;
        height: 2.75rem;
        background: none;
        color: white;
		border: 0 none;
        font-size: 1.3rem;
        font-weight: normal;
        text-align: left;

        i {font-size: 2rem;font-style: normal;}
        
	}

    #hamburgerBtn.open span:nth-child(1) {display: none;}
    #hamburgerBtn.open span:nth-child(2) {display: block;}
    #hamburgerBtn span:nth-child(1) {display: block;}
    #hamburgerBtn span:nth-child(2) {display: none;}


	#primaryNav {
        height: 0;
        overflow: hidden;
		width: 20rem;
		background-color: $primaryColor;
		margin: 0;
		padding: 0;
		z-index: 998; 
        font-family: Verdana;
        font-weight: normal;
	}


	#primaryNav li a {
		display: block; 
		width: 100%;
		padding: .75rem 2vw;
		font-size: 14px;
		text-shadow: -1px -1px 0 rgba(0,0,0,.15);
		color: white;
		text-decoration: none;
		border-top: 1px solid rgba(0,0,0,.2);
	}
    

	#primaryNav li a:hover {
        background-color: $minorColor;
        color: black;
	}

	#primaryNav.open {height: auto;}


	#primaryNav li.parent > a::after {
        font-size: .75rem;
		content: "\25BC";
		color: rgba(255,255,255,.5);
		float: right;
	}

	#primaryNav li ul {
		display: none;
		background: rgba(0,0,0,.3);
		padding: 0;
        margin: 0 ;
    }
    
    #primaryNav li a.active { 
		background-color: $subColor;
    }
    

    #primaryNav li ul a {
        padding-left: 20px;
    }
    

    #primaryNav li:hover ul {display: block;}
    

	
	
}



/* main */



main {
    background-color: rgb(238, 237, 237);
    
}

main h1 {
    margin: $gutter;
    padding-top: 3.5rem;
    color: $subColor;
}

main h1.thanks {
    text-align: center;
}





form.bling fieldset {
    font-size: .9rem;
    margin-bottom: 1rem;
    margin-left: 2%;
    margin-right: 2%;
    border-color: $minorColor;
    border-radius: 10px;
  }

form.bling legend {
  font-size: .8rem;
  font-weight: 700;
 
}
form.bling span {
color: $primaryColor;
font-weight: 700;
display: block;
padding: .8rem 0 2px .2rem;
}


form.bling .info {
 color: red;
 border-radius: .3rem;
 padding: .4rem;
 width: 40%;
}

form.bling .credit {
 border-radius: .3rem;
 width: 40%;
 height: 25px;

}

form.bling .favorite {
     border-radius: .3rem;
     padding: .4rem;
     width: 40%;
     height: 100px;
   }

form.bling .purchase { 
     font-size: 1rem;
     font-weight: 700;
     background: linear-gradient(to bottom, #FAE5C1 0%, $subColor 100%);
     padding: .8rem;
     margin: 0 0 2% 2%;
     border: solid 1px $primaryColor;
     border-radius: .8rem;
     width: 15rem;
     box-shadow: 1px 1px 3px grey;
     color: $primaryColor;
   }

form.bling .purchase:hover {
        color: white;	
        background: #1F69AD;
      }






.clearfix:after {
    content: "";
    display: table;
    clear: both;
}


footer {
    background-color: $primaryColor;
    text-align: center;
    padding: 1rem $gutter; 
    color: white;
}

